# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_here
STRIPE_PUBLIC_KEY=your_stripe_public_key_here

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=youremail@gmail.com
EMAIL_HOST_PASSWORD=yourpassword
DEFAULT_FROM_EMAIL=youremail@gmail.com

# Django
SECRET_KEY=your_django_secret_key
DEBUG=True
